Checks: '-*,
bugprone-*,
cert-*,
cppcoreguidelines-*,
modernize-*
-modernize-use-trailing-return-type,
performance-*,
misc-*,
google-default-arguments,
google-explicit-constructor,
google-runtime-operator,
mpi-buffer-deref,
mpi-type-mismatch,
openmp-use-default-none,
portability-simd-intrinsics,'