Checks: '-*,
bugprone-*,
cert-*,
cppcoreguidelines-*,
hicpp-*,
modernize-*,
performance-*,
readability-*,
misc-*,
google-default-arguments,
google-explicit-constructor,
google-runtime-operator,
mpi-buffer-deref,
mpi-type-mismatch,
openmp-use-default-none,
portability-simd-intrinsics,'